#all-wrapper-form {
    width: 100%;
    margin-top: 6rem;
    color: white;
}

#mainTop {
    width:50%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

form#addMiniGoal {
    text-align: center;
    width:50%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

form#addMiniGoal input[type='date'] {
    position: relative;
}

form#addMiniGoal span {
    position: absolute;
    /* top: 54%;
    left: 48%; */
    color: gray;
    opacity: 0.8;
}

.btn-purple {
    color: white;
    background:#461E71;
    /* background:#2F0D53; */
}

.btn-purple:hover {
    background:#2F0D53;

}

#mainTop h3 {
    font-size: 3rem;
    font-family: 'Anybody', cursive;
    font-weight: 300;
}

#mainTop small {
    width: 80vw;
    text-align: center;
}

h3#percentage {
    text-align: center;
}

ul#goals {
    width: 80%;
    margin: 5% auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: .5rem;
}

ul#goals li.goal {
    width: 100%;
    height: 5rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #90918E;
    transition: all .2s;
    border-radius: 10px;
    padding: 0 1rem;
    color: white;
    box-shadow: 0 3px 5px #616161;
    text-transform:capitalize;
}

ul#goals li.goal:hover {
    background:#616161;

}

ul#goals li.goal small {
    color: #B8452D;
    font-size: 15px;
    font-family: 'Anybody', cursive;
    font-weight: 300;
    text-shadow: 1px 1px 1px #470F03;
    margin-right: .5rem;
}

ul#goals li.goal button {
    margin:0 .5rem;
}

ul#goals li.goal.done {
    background:#325D31;
    box-shadow: 0 3px 5px #1D471C;
}

ul#goals li.goal.done:hover {
    background:#1D471C;
}


@media (max-width:800px) {
    ul#goals {
        width: 95%;
    }

    ul#goals li.goal #progress-bar {
        display: none;
    }
} 

#minigoalform {
    display: flex;
}

form#footer {
    width: 90%;
    margin: 1rem auto;
}

#done {
    width: 100%;
    margin-top: 8%;
    text-align: center;
    color: green;
}

#done h3 {
    font-size: 120px;
}